@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather') url(./fonts/Merriweather/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf) format('opentype');
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather') url(./fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf) format('opentype');
}

.