#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

/* Floating hover effect with two heights */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
.floating {
  animation: float 5s ease-in-out infinite;
}

.fileSelector {
  background-color: #1a1a1a;
  padding: 18px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px black;
}

.video-container {
  width: 315px;    /* Swapped width to 315px */
  height: 560px;   /* Swapped height to 560px */
  overflow: hidden; /* Hide parts outside the container */
  position: relative; /* Relative position for absolute iframe */
  margin: 0 auto;  /* Optional: center the video container */
  border-radius: 20px;
}

.video-container iframe {
  position: absolute;
  top: 0;      /* Keep the iframe aligned to the top */
  left: 0;     /* Keep it aligned to the left */
  width: 315px; /* Set fixed width to 315px */
  height: 560px; /* Set fixed height to 560px */
}

.buzz {
  display: inline-block;
  position: relative;
  animation: shake 0.4s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translate(0, 0); /* No movement */
  }
  25% {
    transform: translate(-1px, -1px); /* Shake top-left */
  }
  50% {
    transform: translate(1px, 1px); /* Shake bottom-right */
  }
  75% {
    transform: translate(-1px, 1px); /* Shake top-right */
  }
}
